.calculatrice {
    width: 340px;
    height: 540px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #ad06f6 0%, #0763c9 74%);
}