.calculatrice_s {
    width: 640px;
    height: 640px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #06f6da 0%, #0279ff 60%);
}